---
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
---

<Layout title="Web Dev Cody">
  <main>
    <div class="container">
      <section class="hero">
        <div class="cta">
          <h1>
            I'm <span class="blue">Cody</span>
            , I like helping others learn <span class="blue"
              >web development</span
            >.
          </h1>

          <p>
            Follow me to learn various web development concepts by watching me
            on <a
              target="_blank"
              referrerpolicy="no-referrer"
              href="https://youtube.com/@webdevcody">YouTube</a
            > and <a
              href="https://twitch.tv/webdevcody"
              target="_blank"
              referrerpolicy="no-referrer">Twitch</a
            >.
          </p>

          <p class="mb-0">Subscribe for tips, lessions, and news</p>

          <form id="subscribe">
            <input
              id="name"
              name="name"
              type="email"
              placeholder="email address"
            />
            <button
              class="g-recaptcha"
              data-sitekey={import.meta.env.PUBLIC_RECAPTCH_KEY}
              data-callback="onSubmit"
              data-action="submit">SUBSCRIBE</button
            >
          </form>

          <div id="message"></div>
          <div id="error"></div>
        </div>

        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/mp1-HUjZE0o"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </section>
    </div>
  </main>
</Layout>

<style>
  * {
    box-sizing: border-box;
  }

  body {
    background: var(--primary-dark);
    min-height: 100vh;
    margin: 0;
    color: white;
  }

  img {
    width: 300px;
  }

  main {
    display: flex;
  }

  h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
  }

  h1 span {
    font-weight: 600;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 100px 60px;
  }

  .hero h1 {
    font-size: 32px;
    line-height: 36px;
  }

  .hero p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
  }

  .blue {
    color: var(--primary);
  }

  .red {
    color: var(--red);
  }

  .cta {
    width: 100%;
  }

  #error {
    color: var(--red);
  }

  form {
    display: flex;
  }

  form input {
    padding: 14px;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #333;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  form button {
    padding: 10px 24px;
    font-size: 14px;
    font-weight: 300;
    background-color: var(--primary);
    color: black;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    border: none;
  }

  form button:hover {
    background-color: var(--primary-darker);
  }

  iframe {
    width: 100%;
  }

  .mb-0 {
    margin-bottom: 0;
  }

  #message {
    color: var(--primary);
    margin-top: 6px;
    font-size: 18px;
  }
</style>

<script is:inline src="https://www.google.com/recaptcha/api.js"></script>

<script is:inline lang="ts">
  window.onSubmit = function (token) {
    const messageDiv = document.getElementById("message");
    const errorDiv = document.getElementById("error");
    const nameInput = document.getElementById("name");
    messageDiv.innerText = "";
    errorDiv.innerText = "";
    const email = nameInput.value;
    fetch("https://newsletter-api.webdevcody.com/subscriptions", {
      method: "POST",
      body: JSON.stringify({
        email,
        token,
      }),
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => {
        if (response.ok) {
          messageDiv.innerText = "Thank you for subscribing!";
          nameInput.value = "";
        } else {
          errorDiv.innerText = "An error occured while subscribing";
        }
      })
      .catch(() => {
        errorDiv.innerText = "An error occured while subscribing";
      });
  };
</script>
